In [1]:
#imports
import numpy as np
import pandas as pd
import requests
import json
import os
import re

In [2]:
df = pd.read_csv('Input/IMDb_movies.csv',encoding = 'latin-1')

#visual
print(df.dtypes)
print(df.isnull().sum())
display(df.count())

imdb_title_id             object
title                     object
original_title            object
year                       int64
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object
imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     39
language                   755
director                    73
writer                    1493
production_company        4325
actors                      66
description               2430
avg_vote                     0
votes                        0
budget                   58469
usa_gross_income         66179
worlwide_gross_income    51381
metascore                68551
reviews_from_users        7077
reviews_from_critics     10987
dtype: int64

imdb_title_id            81273
title                    81273
original_title           81273
year                     81273
date_published           81273
genre                    81273
duration                 81273
country                  81234
language                 80518
director                 81200
writer                   79780
production_company       76948
actors                   81207
description              78843
avg_vote                 81273
votes                    81273
budget                   22804
usa_gross_income         15094
worlwide_gross_income    29892
metascore                12722
reviews_from_users       74196
reviews_from_critics     70286
dtype: int64

In [3]:
df = df.drop(columns = ['reviews_from_users','reviews_from_critics','votes','original_title','date_published','usa_gross_income','writer'])

In [4]:
from Cleaning import removeNaN
from Cleaning import decader
from Cleaning import dollar_to_int

In [5]:
df = removeNaN(df, df['worlwide_gross_income'])
df = removeNaN(df, df['metascore'])
df = removeNaN(df, df['budget'])

In [6]:
#visual
print(df.isnull().sum())

imdb_title_id             0
title                     0
year                      0
genre                     0
duration                  0
country                   0
language                  2
director                  0
production_company       12
actors                    0
description               3
avg_vote                  0
budget                    0
worlwide_gross_income     0
metascore                 0
dtype: int64

In [7]:
df =df[df['budget'].str.startswith(('$'))].reset_index(drop=True)
df['budget']= dollar_to_int(df['budget'])
df['worlwide_gross_income']= dollar_to_int(df['worlwide_gross_income'])

In [11]:
df['decade']= decader(df['year'])
df['profit']= df['worlwide_gross_income'] - df['budget']
df['profit_ratio'] =round(df['profit']/df['budget'], 2)

In [12]:
df

,imdb_title_id,title,year,genre,duration,country,language,director,production_company,actors,description,avg_vote,budget,worlwide_gross_income,metascore,decade,profit,profit_ratio
0,tt0018773,The Circus,1928,"Comedy, Romance",72,USA,English,Charles Chaplin,Charles Chaplin Productions,"Al Ernest Garcia, Merna Kennedy, Harry Crocker...",The Tramp finds work and the girl of his dream...,8.2,900000,26916,90.0,1920,-873084,-0.97
1,tt0021749,City Lights,1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,Charles Chaplin Productions,"Virginia Cherrill, Florence Lee, Harry Myers, ...","With the aid of a wealthy erratic tippler, a d...",8.5,1500000,32609,99.0,1930,-1467391,-0.98
2,tt0022913,Freaks,1932,"Drama, Horror",64,USA,"English, German, French",Tod Browning,Metro-Goldwyn-Mayer (MGM),"Wallace Ford, Leila Hyams, Olga Baclanova, Ros...",A circus' beautiful trapeze artist agrees to m...,7.9,310607,4072,80.0,1930,-306535,-0.99
3,tt0024216,King Kong,1933,"Adventure, Horror, Sci-Fi",100,USA,English,"Merian C. Cooper, Ernest B. Schoedsack",RKO Radio Pictures,"Fay Wray, Robert Armstrong, Bruce Cabot, Frank...",A film crew goes to a tropical island for an e...,7.9,670000,651,90.0,1930,-669349,-1.00
4,tt0027977,Modern Times,1936,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,Charles Chaplin Productions,"Charles Chaplin, Paulette Goddard, Henry Bergm...",The Tramp struggles to live in modern industri...,8.5,1500000,445226,96.0,1930,-1054774,-0.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6187,tt8772262,Midsommar,2019,"Drama, Horror, Mystery",147,"USA, Sweden, Hungary","English, Swedish",Ari Aster,Proton Cinema,"Florence Pugh, Jack Reynor, Vilhelm Blomgren, ...",A couple travels to Sweden to visit a rural ho...,7.2,10000000,41123770,72.0,2010,31123770,3.11
6188,tt9024106,Unplanned,2019,"Biography, Drama",109,USA,English,"Chuck Konzelman, Cary Solomon",Unplanned Movie,"Ashley Bratcher, Brooks Ryan, Robia Scott, Jar...",All Abby Johnson ever wanted to do was help wo...,5.8,6000000,19320481,10.0,2010,13320481,2.22
6189,tt9082020,Cold Blood Legacy,2019,"Action, Thriller",91,"France, Ukraine, Belgium","French, English",FrÃ©dÃ©ric Petitjean,Ascot Elite Entertainment Group,"Jean Reno, Sarah Lind, Joe Anderson, David Gya...",A hit-man lives isolated in a cabin at the edg...,4.5,2700000,1009888,25.0,2010,-1690112,-0.63
6190,tt9134216,Playing with Fire,2019,"Comedy, Family",96,USA,English,Andy Fickman,Broken Road Productions,"John Cena, Keegan-Michael Key, John Leguizamo,...",A crew of rugged firefighters meet their match...,4.5,29900000,21788746,24.0,2010,-8111254,-0.27
6191,tt9354944,Jexi,2019,Comedy,84,USA,English,"Jon Lucas, Scott Moore",CBS Films,"Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",A comedy about what can happen when you love y...,6.6,5000000,7257918,39.0,2010,2257918,0.45

In [15]:
df.sort_values(by=['profit_ratio'],ascending=False)

,imdb_title_id,title,year,genre,duration,country,language,director,production_company,actors,description,avg_vote,budget,worlwide_gross_income,metascore,decade,profit,profit_ratio
405,tt0084516,Poltergeist,1982,"Horror, Thriller",114,USA,English,Tobe Hooper,Metro-Goldwyn-Mayer (MGM),"Craig T. Nelson, JoBeth Williams, Beatrice Str...",A family's home is haunted by a host of demoni...,7.3,20,77142388,79.0,1980,77142368,3857118.40
4228,tt1179904,Paranormal Activity,2007,"Horror, Mystery, Thriller",86,USA,English,Oren Peli,Solana Films,"Katie Featherston, Micah Sloat, Mark Fredrichs...","After moving into a suburban home, a couple be...",6.3,15000,193355800,68.0,2000,193340800,12889.39
1927,tt0185937,The Blair Witch Project,1999,"Horror, Mystery",81,USA,English,"Daniel Myrick, Eduardo SÃ¡nchez",Haxan Films,"Heather Donahue, Joshua Leonard, Michael C. Wi...",Three film students vanish after traveling int...,6.5,60000,248639099,81.0,1990,248579099,4142.98
5336,tt2309260,The Gallows,2015,"Horror, Mystery, Thriller",81,USA,English,"Travis Cluff, Chris Lofing",New Line Cinema,"Reese Mishler, Pfeifer Brown, Ryan Shoos, Cass...",20 years after a horrific accident during a sm...,4.2,100000,42964410,30.0,2010,42864410,428.64
1027,tt0104815,El mariachi,1992,"Action, Crime, Thriller",81,"Mexico, USA",Spanish,Robert Rodriguez,Columbia Pictures,"Carlos Gallardo, Consuelo GÃ³mez, Jaime de Hoy...",A traveling mariachi is mistaken for a murdero...,6.9,7000,2040920,73.0,1990,2033920,290.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3551,tt0479042,G.I. Jesus,2006,"Drama, Fantasy",100,USA,English,Carl Colpaert,Cinefrontera,"Joe Arquette, PatrÃ­cia Mota, Telana Lynum, Ma...","A Mexican national, Jesus Feliciano, returning...",2.0,2000000,8593,57.0,2000,-1991407,-1.00
3094,tt0404552,Yo puta,2004,Drama,87,Spain,"English, Spanish, French, Hungarian, Japanese,...",MarÃ­a LidÃ³n,Dolores Pictures S.L.,"Daryl Hannah, Denise Richards, Joaquim de Alme...",An anthropology student exploring the nature o...,4.3,6000000,26018,26.0,2000,-5973982,-1.00
5395,tt2383068,The Sacrament,2013,"Horror, Thriller",99,USA,English,Ti West,Worldview Entertainment,"Joe Swanberg, AJ Bowen, Kentucker Audley, Gene...",A news team trails a man as he travels into th...,6.1,4000000,9221,49.0,2010,-3990779,-1.00
5386,tt2378884,Cavemen,2013,Comedy,88,USA,English,Herschel Faber,Fascination Films,"Skylar Astin, Camilla Belle, Chad Michael Murr...","""Cavemen"" is a comedic film with a slight edge...",5.3,1200000,5948,19.0,2010,-1194052,-1.00
5986,tt5303442,In Like Flynn,2018,"Action, Adventure",106,"Australia, Canada",English,Russell Mulcahy,308 Ent,"Thomas Cocquerel, Corey Large, William Moseley...",The adventurous life of young Errol Flynn in A...,5.1,20000000,11255,66.0,2010,-19988745,-1.00

In [ ]:
df